<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/fern_png_484788.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>